body {
    font-family: calibri;
}

.jumbotron {
    color: white;
    font-weight: bold;
    background-color: rgb(15, 15, 104);
    border: 10px black;
    border-style: solid;
    width: 100%
}

h1 {
    font-size: 20px;
    font-family: fantasy;
}

h3 {
    text-align: center;
}

#hiking {
    background-image: url("https://wallpaperaccess.com/full/1638233.jpg");
    background-size: cover;
}

#movie {
    background-image: url(" https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS2BF5GCrJ73ZB5dyeDm3Pz4rlnDH5WyCQCNerbjiZJtoDEpZP0&usqp=CAU");
    background-size: cover;
}