<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="d3Style.css">

</head>

<body>

    <div class="container">
        <div class="jumbotron text-center">
            <h1>Welcome to Quarantine!</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="article">
                    <p>Can't figure out what to do today? Feeling an overwhelming sense of 
                        indecisiveness during these times? 
                        <br>
                        <br>
                        <strong>Let us help you with that.</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <p><strong>I WANT TO:</strong></p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <button type="button" class="btn btn-primary btn-lg" href="movies.html" role="button">Watch a Movie</button>
                <button type="button" class="btn btn-primary btn-lg" href="hike.html" role="button">Go on a Hike</button>
            </div>
        </div>
    </div>
</body>